# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / Build directories
node_modules/
web/node_modules/
dist
dist-ssr
*.local

# Package management files (Root)
package-lock.json
package.json

# Chess Engine Binaries & Builds
*.exe
Luna.exe
Luna/Luna.exe
Luna/chess_engine.exe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?